@font-face {
  font-family: "georgia";
  src: url("./fonts/georgiabold.eot");
  src: url("./fonts/georgiabold.eot") format("embedded-opentype"),
    url("./fonts/georgiabold.woff2") format("woff2"),
    url("./fonts/georgiabold.woff") format("woff"),
    url("./fonts/georgiabold.ttf") format("truetype"),
    url("./fonts/georgiabold.svg#georgiabold") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "georgia";
  src: url("./fonts/georgiaitalic.eot");
  src: url("./fonts/georgiaitalic.eot") format("embedded-opentype"),
    url("./fonts/georgiaitalic.woff2") format("woff2"),
    url("./fonts/georgiaitalic.woff") format("woff"),
    url("./fonts/georgiaitalic.ttf") format("truetype"),
    url("./fonts/georgiaitalic.svg#georgiaitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "georgia";
  src: url("./fonts/georgiaregular.eot");
  src: url("./fonts/georgiaregular.eot") format("embedded-opentype"),
    url("./fonts/georgiaregular.woff2") format("woff2"),
    url("./fonts/georgiaregular.woff") format("woff"),
    url("./fonts/georgiaregular.ttf") format("truetype"),
    url("./fonts/georgiaregular.svg#georgiaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arial";
  src: url("./fonts/arial-regular-webfont.eot");
  src: url("./fonts/arial-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/arial-regular-webfont.woff2") format("woff2"),
    url("./fonts/arial-regular-webfont.woff") format("woff"),
    url("./fonts/arial-regular-webfont.ttf") format("truetype"),
    url("./fonts/arial-regular-webfont.svg#arialregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arial";
  src: url("./fonts/arial-italic-webfont.eot");
  src: url("./fonts/arial-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/arial-italic-webfont.woff2") format("woff2"),
    url("./fonts/arial-italic-webfont.woff") format("woff"),
    url("./fonts/arial-italic-webfont.ttf") format("truetype"),
    url("./fonts/arial-italic-webfont.svg#arialitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

:root {
  --main-font-family: "georgia", "Times New Roman", serif;
  --secondary-font-family: "arial", Helvetica, sans-serif;
  --icon-button-color: #f1cdb3;
  --icon-button-color-hover: #fddcc4;
  --circle-button: #cdcdcd;
  --text-button-link-color: #292929;
  --top-color: #ffffff;
  --hn-color: #545454;
  --box-color: #f6f6f6;
  --pets-card: #fafafa;
  --font-size-body: 15px;
  --font-size-body-pets: 13px;
  --font-size-mobile-h3: 25px;
  --font-weight-normal: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #211f20;
  font-family: var(--main-font-family);
  font-size: var(--font-size-body);
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  width: 100%;

  /*display: flex;*/
  margin: 0 auto;
  scroll-behavior: smooth;
}

div.wrapper {
  max-width: 1280px;
  margin: auto;
}

/* Header start */

h1 {
  color: var(--hn-color);
  font-family: var(--main-font-family);
  font-size: 32px;
  letter-spacing: 0.06em;
  -webkit-text-stroke: 1px #000000; /* для браузеров на основе WebKit */
  -moz-text-stroke: 1px #000000; /* для браузеров на основе WebKit */
}

a {
  text-decoration: none;
  line-height: 16px;
  cursor: pointer;
}

div a p.logo-text {
  color: var(--text-button-link-color);
  font-family: var(--secondary-font-family);
  font-size: var(--font-size-body-pets);
  font-weight: var(--font-weight-normal);
  letter-spacing: 2.2px;
}

nav ul li.header-nav-list {
  font-family: var(--secondary-font-family);
  list-style-type: none;
  font-size: var(--font-size-body);
  margin-right: 35px;
}

nav ul li.header-nav-list:last-child {
  margin-right: 0;
}

nav ul li a {
  list-style-type: none;
  color: var(--text-button-link-color);
}

nav ul li a:hover {
  border-bottom: 3px solid var(--icon-button-color);
}

nav .nav-list {
  display: flex;
  flex-wrap: wrap;
}

nav a.active {
  border-bottom: 3px solid var(--icon-button-color);
  color: #000000;
}

.container {
  background: var(--top-color);
}

.top-container {
  background: var(--top-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

/* Hamburger menu start */
.nav-list-hamburger {
  font-size: 32px;
  line-height: 160%;
  width: 320px;
  height: 823px;
  list-style-type: none;
  background-color: var(--text-button-link-color);
  position: absolute;
  top: 0;
  right: 0;
  padding: 207px 0 0 0;
  margin: 0;
  text-align: center;
  transform: translateX(0);
  display: none;
}

nav-list-hamburger.active {
  display: block;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.header-hamburger {
  margin: 40px 0 0 0;
  color: var(--circle-button);
}

.header-hamburger a {
  color: var(--color-hamburger);
}

.header-hamburger a:hover {
  color: var(--icon-button-color);
  border-bottom: none;
}

.header-hamburger a.active:first-child {
  margin: 0;
  color: var(--pets-card);
}
.header-hamburger a.active:hover {
  border-bottom: 3px solid var(--icon-button-color);
  cursor: default;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  position: absolute;
  margin: -6px 20px 0 0;
  right: 20px;
}

.hamburger-line1 {
  border: 2px solid #000000;
  display: inline-block;
  width: 100%;
  position: absolute;
  content: "";
  top: 22px;
}

.hamburger-line2 {
  border: 2px solid #000000;
  display: inline-block;
  width: 100%;
  position: absolute;
  content: "";
  top: 11px;
}
.hamburger-line3 {
  border: 2px solid #000000;
  display: inline-block;
  width: 100%;
  position: absolute;
  content: "";
  top: 0px;
}
.hamburger.rotate .hamburger-line1 {
  transform: rotate(90deg) translate(-7px, -8px);
}

.hamburger.rotate .hamburger-line2 {
  transform: rotate(90deg) translate(4px, -18px);
}

.hamburger.rotate .hamburger-line3 {
  transform: rotate(90deg) translate(15px, -28px);
}

/* Hamburger menu end */

/* Header end */

/* Our Friends start */
h3 {
  font-size: 35px;
  font-family: var(--main-font-family);
  line-height: 46px;
  font-weight: var(--font-weight-normal);
  color: var(--hn-color);
  text-align: center;
  letter-spacing: 0.06em;
}

h4,
div.buttons {
  font-size: 20px;
  font-family: var(--main-font-family);
  line-height: 23px;
  font-weight: var(--font-weight-normal);
  color: var(--hn-color);
  text-align: center;
}

div.our_friends_style {
  background-color: var(--box-color);
}

div.our_friends {
  box-sizing: border-box;
  padding: 45px 40px 0px 40px;
}

div.our_friends div.our_friends_card div.our_friends_row_one,
div.our_friends div.our_friends_card div.our_friends_row_two {
  border-radius: 9px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div.our_friends div.our_friends_card div.our_friends_row_one {
  margin-top: 54px;
}
div.our_friends div.our_friends_card div.our_friends_row_two {
  margin-top: 35px;
}

div.our_friends
  div.our_friends_card
  div.our_friends_row_one
  div.our_friends_name,
div.our_friends
  div.our_friends_card
  div.our_friends_row_two
  div.our_friends_name {
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--pets-card);
  flex-basis: 20%;
  transition: transform 0.2s ease;
}

div.our_friends_card div.our_friends_name:hover {
  transform: scale(1.1);
  cursor: pointer;
}

div.our_friends
  div.our_friends_card
  div.our_friends_row_one
  div.our_friends_name
  h4,
div.our_friends
  div.our_friends_card
  div.our_friends_row_two
  div.our_friends_name
  h4 {
  margin: 30px;
}

div img.border {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

a.our_friends_learn_more {
  border: 2px solid var(--icon-button-color);
  border-radius: 100px;
  background-color: var(--pets-card);
  color: var(--text-button-link-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-button);
  margin-bottom: 30px;
  padding: 15px 45px;
  text-align: center;
}

a.our_friends_learn_more:hover {
  border: 2px solid var(--icon-button-color-hover);
  background: var(--icon-button-color-hover);
  transition: ease-in-out 2s;
  cursor: pointer;
}

button.circle_button {
  border: 2px solid var(--icon-button-color-hover);
  background: var(--icon-button-color-hover);
  border-radius: 50px;
  color: var(--text-button-link-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-button);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  width: 52px;
  height: 52px;
}

button.circle_button:hover {
  border: 2px solid var(--icon-button-color);
  background: var(--pets-card);
  transition: ease-in-out 2s;
  cursor: pointer;
}

button.circle_button_less {
  border: 2px solid var(--circle-button);
  background: var(--pets-card);
  border-radius: 50px;
  color: var(--circle-button);
  font-family: var(--main-font-family);
  font-size: var(--font-size-button);
  margin-left: 20px;
  text-align: center;
  width: 52px;
  height: 52px;
}

button.circle_button_more {
  border: 2px solid var(--icon-button-color);
  background: var(--pets-card);
  border-radius: 50px;
  color: var(--text-button-link-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-button);
  margin-right: 20px;
  text-align: center;
  width: 52px;
  height: 52px;
}

button.circle_button_more:hover {
  border: 2px solid var(--icon-button-color-hover);
  background: var(--icon-button-color-hover);
  transition: ease-in-out 2s;
  cursor: pointer;
}

div.our_friends div.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 100px 0px;
}

/* modal window start */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
}

/* Popup start */
div.popup {
  width: 900px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

div.popup div.popup_pets {
  box-sizing: border-box;
  border: 1px solid var(--pets-card);
  background: var(--pets-card);
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
div.popup div.popup_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 50px 20px 90px 30px;
}

div.popup div.popup_text h3,
div.popup div.popup_text h4,
div.popup div.popup_text h5 {
  color: #000000;
  letter-spacing: 0.06em;
  margin: 0px;
}

div.popup div.popup_text h5 {
  margin: 40px 0px;
}

div.popup div.popup_text ul.popup_ul {
  font-family: var(--main-font-family);
  color: #000000;
  padding-left: 20px;
  letter-spacing: 0.06em;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.popup div.popup_text ul.popup_ul li {
  margin-bottom: 5px;
}

ul.popup_ul li::before {
  content: "•";
  color: var(--icon-button-color);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

div.popup div.popup_pets div.popup_img img {
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.circle_button_cross {
  border: 2px solid var(--icon-button-color);
  background: rgba(241, 205, 179, 0);
  border-radius: 50px;
  color: var(--text-button-link-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-button);
  margin: 0 0 0 900px;
  text-align: center;
  width: 52px;
  height: 52px;
}

button.circle_button_cross:hover {
  border: 2px solid var(--icon-button-color-hover);
  background: var(--icon-button-color-hover);
  transition: ease-in-out 2s;
  cursor: pointer;
}

/* Popup end */

/* Our Friends end */

/* Footer start */

footer {
  background: linear-gradient(to bottom right, #513d2f 0%, #1a1a1c 100%);
}

div.footer_box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

div.footer_box img.footer_pet {
  display: block;
  margin-top: 40px;
  margin-right: 0px;
}

div.footer_questions h3,
div.footer_visit h3 {
  color: var(--top-color);
  margin-top: 0px;
}

div.footer_box div.footer_questions h4,
div.footer_box div.footer_visit h4 {
  color: #f1cdb3;
  margin-left: 20px;
}

div.footer_questions {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.footer_box div.footer_questions div.footer_icon img,
div.footer_box div.footer_visit div.footer_icon img {
  display: block;
  margin: 0px 0px;
}

div.footer_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.footer_visit {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 197px;
  margin-right: 160px;
}
div.footer_box div.footer_visit h3.footer_visit_h3 {
  margin-bottom: 4px;
}

div.footer_box div.footer_icon a.footer_link h4:hover {
  transition: ease-in-out 2s;
  cursor: pointer;
  color: var(--icon-button-color-hover);
}
/* Footer end */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Header start */

  .top-container {
    padding: 12px 30px;
  }
  /* Header end*/

  /* Not only start */

  div .not_only_text {
    margin: 40px 120px 0 120px;
  }

  div .not_only {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
  }

  div.not_only_link {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  div.not_only div.not_only_img img {
    transform: scale(0.83);
    margin-left: 140px;
  }

  div.not_only div.not_only_img {
    margin-top: 31px;
  }

  /* Not only end */

  /* Our Fiends start */

  div.our_friends {
    padding: 43px 40px 1px 40px;
  }

  .our_friends_name {
    margin: 0 0 25px 0;
  }

  div .our_friends_card {
    margin: 32px 0 0;
    flex-wrap: nowrap;
  }

  div.our_friends_name h4 {
    margin: 36px;
  }

  div.our_friends_link {
    margin: 0 0 100px 0;
  }

  div.our_friends div.our_friends_card div.our_friends_row_one {
    justify-content: space-evenly;
    margin: 0 0 0 0;
  }

  div.our_friends div.our_friends_card div.our_friends_row_two {
    justify-content: space-evenly;
    margin: 9px 0 0 0;
  }

  div.our_friends div.our_friends_card div.our_friends_row_two div.scarlet,
  div.our_friends div.our_friends_card div.our_friends_row_two div.freddie {
    display: none;
  }

  div.our_friends div.our_friends_card div.our_friends_card_hover {
    padding: 0px 15px;
  }
  div.our_friends div.buttons {
    padding: 19px 0px 73px 0px;
  }

  /* Our Fiends end */

  /* Footer start */

  div.footer_box {
    flex-wrap: wrap;
    padding: 30px 104px 0 63px;
  }

  div.footer_visit {
    margin: 0 0 0 0px;
  }

  div.footer_box img.footer_pet {
    margin: 25px 0 0 170px;
  }
  /* Footer end */
}

@media screen and (max-width: 767px) {
  /* Header start */

  .top-container {
    padding: 10px 20px;
  }
  div .not_only {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
  }

  nav .nav-list {
    display: none;
  }

  /* Hamburger menu start */
  .hamburger {
    display: inline-block;
  }

  /* Hamburger menu end */

  /* Not only start */

  div .not_only_text {
    margin-top: 33px;
  }

  div .not_only_text h2 {
    text-align: center;
    font-size: var(--font-size-mobile-h3);
    line-height: 130%;
  }
  .not_only_paragraph {
    text-align: center;
    line-height: 160%;
  }

  div.not_only_link {
    display: flex;
    justify-content: center;
  }

  div.not_only div.not_only_img {
    margin-top: 0px;
  }

  div.not_only div.not_only_img img {
    transform: scale(0.38);
    margin: -126px 0px 0 25px;
  }
  /* Not only end */

  /* Header end */

  /* Our Fiends start */

  div.our_friends {
    padding: 19px 0px 1px 0px;
  }

  div .our_friends_h3 {
    font-size: var(--font-size-mobile-h3);
    line-height: 130%;
    text-align: center;
  }
  div.our_friends div.our_friends_card div.our_friends_row_one {
    margin: 0 0 0 0;

    justify-content: center;
  }

  div.our_friends div.our_friends_card div.our_friends_row_two,
  div.our_friends div.our_friends_card div.our_friends_row_one div.sophia {
    display: none;
  }

  div .our_friends_name {
    margin: 18px 0 14px 0;
  }

  div.our_friends_link {
    margin: 0 0 42px 0;
  }

  div.our_friends div.our_friends_card div.our_friends_card_hover {
    padding: 0px 8px;
  }

  div.our_friends div.buttons {
    padding: 30px 0px 42px 0px;
  }

  button.circle_button_less {
    margin: 0 0 0 10px;
  }

  button.circle_button {
    margin: 0 0 0 10px;
  }

  button.circle_button_more {
    margin: 0 0 0 12px;
  }

  /* Our Fiends end */

  /* Footer start */

  div.footer_box {
    flex-wrap: wrap;
    padding: 30px 10px 0 10px;
    flex-direction: column;
    align-content: center;
  }

  div.footer_questions h3 {
    font-size: var(--font-size-mobile-h3);
    line-height: 130%;
    text-align: center;
    margin: 0 10px 19px 10px;
  }

  div.footer_visit {
    margin: 0 0 0 0px;
  }

  div.footer_box img.footer_pet {
    margin: 46px 0 0 0;
    width: 260px;
    height: 269px;
  }

  div.footer_icon {
    justify-content: space-evenly;
  }

  div.footer_box div.footer_visit h3.footer_visit_h3 {
    font-size: var(--font-size-mobile-h3);
    line-height: 130%;
    text-align: center;
    margin: 21px 35px 7px 35px;
  }
  div.footer_questions a.footer_link h4,
  div.footer_visit a.footer_link h4 {
    margin: 28px 0 20px 0;
  }
  div.footer_box div.footer_visit div.footer_icon a.gps_h4 h4 {
    margin: 23px 40px 0 35px;
  }
  div.footer_box div.footer_visit div.footer_icon a.gps_img img {
    margin: 23px 0 0 0;
  }

  /* Footer end */
}
